<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>修改密码</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script src="./librarys/scripts/rem.js"></script>
  <link rel="stylesheet" type="text/css" href="./librarys/styles/common.css?v={:config('asset_version')}">
  <link rel="stylesheet" type="text/css" href="./styles/public.css?v={:config('asset_version')}">
  <link rel="stylesheet" type="text/css" href="./styles/style.css?v={:config('asset_version')}">
  <link rel="stylesheet" type="text/css" href="./librarys/jqweui/lib/weui.css?v={:config('asset_version')}">
  <link rel="stylesheet" type="text/css" href="./librarys/jqweui/css/jquery-weui.css?v={:config('asset_version')}">
</head>

<body>
  <div class="forget-page public-gbg modify-phone-page" id="app">

    <!--==============================
    =            stemp 01            =
    ===============================-->

    <div class="step01">
      <div class="input-group">
        <div class="public-input-box-type02 public-bottom-line">
          <input type="password" name="" placeholder="请输入密码" v-model="password1">
          <img src="./assets/icon02.png" class="clear-input" alt="">
        </div>
        <div class="public-input-box-type02 public-bottom-line">
          <input type="password" name="" placeholder="请确认密码" v-model="password2">
          <img src="./assets/icon02.png" class="clear-input" alt="">
        </div>
      </div>
      <div class="btn-wapper">
        <button :class="{'public-btn-type01':true, gray: !allowChange}" @click="handleConfirmModify">确认修改</button>
      </div>
    </div>

    <!--====  End of stemp 01  ====-->

  </div>
  <script src="./librarys/scripts/vue.js?v={:config('asset_version')}"></script>
  <script src="./librarys/jqweui/lib/jquery-2.1.4.js?v={:config('asset_version')}"></script>
  <script src="./librarys/jqweui/js/jquery-weui.min.js?v={:config('asset_version')}"></script>
  <script src="./scripts/public.js?v={:config('asset_version')}"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js?v={:config('asset_version')}"></script>
  <script type="text/javascript">
    (function() {

      $.toast.prototype.defaults.duration = 1000;
      var app = new Vue({
        el: '#app',
        data: {
          password1:'', //密码
          password2:'', //确认密码
        },
        computed: {
          allowChange: function(){
            return this.password1 != '' && this.password2 != '';
          }
        },
        methods: {
          //确认修改
          handleConfirmModify: function(){
            if(!this.allowChange) return;
            if(this.password1.length < 6){
              $.toast('密码长度不能小于6位', 'text');
              return false;
            }
            if(this.password1 != this.password2){
              $.toast('两次输入密码不一样', 'text');
              return false;
            }
            $.showLoading('修改中');
            $.post('#',{
              password: this.password1
            },function(res){
              $.toast(res.msg, 'text');
              if(res.code == 1){
                setTimeout(function(){
                  history.go(-1);
                },1200);
              }
            })
          }
        }
      })
    })();

  </script>
</body>

</html>
